<%= form_for words_path, method: :get, remote: true do |f| %>
  <div class="row">
    <div id="search-field">
      <div class="col-md-3 col-md-offset-3">
        <%= select_tag "category_id", options_from_collection_for_select(@categories, "id", "name", 
          params[:category_id]), include_blank: t("word.all")%>
      </div>
    </div>
    <%= render "shared/filter_radio_form" %>
  </div>
  <br />
  <div class="tm-submit">
    <%= f.submit t("word.filter"), class: "btn btn-primary" %>
  </div>
  <br /><br />
<% end %>
