<table class="table">
  <tr class="success">
    <th><%= t "word.word" %></th>
    <th><%= t "word.mean" %></th>
  </tr>
  <%= render @words %>
  <%= link_to t("word.csv"), words_path(format: Settings.csv) %>
</table>
