<%= render "search_a_word" %><br />
<%= render "search_form" %>
<div class="container">
  <h2 style="color:green" align="center"><%= t ("word.list") %></h2>
  <div class="col-md-9 col-md-offset-2">
    <div id ="words_record">
      <%= render "words_table" %>
    </div>
  </div>
</div>
