<tr>
  <td><%= link_to category.name, admin_category_path(category) %></td>
  <td><%= link_to "delete", admin_category_path(category), method: :delete,
                                  data: {confirm: t("admin.delete_confirm")} %></td>
  <td><%= link_to "edit", "#" %></td>                     
</tr>
