<table id="category_record">  
  <tr id="category-<%= category.id %>">
    <td style="width:300px">
      <%= link_to category.name, admin_category_path(category) %>
    </td>
    <td><%= link_to t("category.delete"), admin_category_path(category), remote: true,
      method: :delete, data: {confirm: t("admin.delete_confirm")} %></td>
    <td><%= link_to t("category.edit"), edit_admin_category_path(category) %></td>
  </tr>
</table>  
