<tr>
  <td><%= link_to category.name, admin_category_path(category) %></td>
  <td><%= link_to t("category.delete"), admin_category_path(category),
    method: :delete, data: {confirm: t("admin.delete_confirm")} %></td>
  <td><%= link_to t("category.edit"), edit_admin_category_path(category) %></td>
</tr>
