.animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button
{
  padding: 10px 50px;
  margin: 0px 10px 10px 0px;
  float: center;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: #FFF;
  text-decoration: none;
}

.stylebutton {
  margin: -150px 10px 10px 400px;
}

.blue
{
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
}

.green
{
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
}

.action-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}

div.vertical-line{
  width: 1px; 
  background-color: black;
  height: 1500px;
  position: absolute;
  left: 20%;
}

.activity{
  margin: -40px 0px 0px 0px;
  font-size: 40px;
}
