<%= form_for categories_path, method: :get, remote: true do |f| %>
  <div class="tm-submit">
    <%= render "shared/filter_radio_form" %>
    <%= f.submit t("word.filter"), class: "btn btn-primary" %>
  </div>
<% end %>
<br>
<br>
